
<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Advantage Alberto App</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<form  [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)" >
		<div class="input-group">
      <div class="text-email">
				<span >Ingresa un email, enviaremos un correo electrónico para recuperar tu contraseña</span>
			</div>
			<ion-item>
				<ion-input type="email"  placeholder="Email" formControlName="email" ></ion-input>
			</ion-item>
			<div class="errors"  *ngIf="email">
				<span >Ingresa un email valido</span>
			</div>
		</div>
		<ion-button type="submit" expand="block">Enviar</ion-button>
    <ion-button type="button" expand="block" (click)="returnLogin()">Regresar</ion-button>
	</form>
</ion-content>
